@import './../styles/components/responsive';

.section {
  position: fixed;
  inset: 0;
  display: flex;
  flex-flow: nowrap column;
  place-content: center;
  place-items: center;
  background: radial-gradient(133.9% 50% at 50% 50%, #6dff8b 0%, #599268 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  font-family: 'ARCADECLASSIC';
  font-style: normal;
  font-weight: 400;
  z-index: 9999;
  isolation: isolate;

  figure.logo {
    img {
      width: 25vw;
      max-width: 20rem;
    }
  }


  h1 {
    color: var(--black);
    text-align: center;
    font-size: 4.5vw;
    @include small-up() {
      font-size: 1.5vw;
    }
  }
}
